.hr{
    margin: 25px;
}
#haciaArriba{
    width: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5px;
    opacity: .6;
    &#haciaArriba:hover{
        opacity: .8;
    }
}

.gridFooter{
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-areas: 
    "fotoTelefono telefono fotoMail mail fotoYoutube youtube fotoInsta insta";
    justify-content: center;
    .red-social{
        width: 30px;
        margin-left: 15px;
    }
    .social{
        margin-bottom: 10px;
        &.social:hover{
            transform: scale(1.1, 1.1);
        }
    }
    .a{
        @include a;
    }
    #fotoTelefono{
        grid-area: fotoTelefono;
        margin-bottom: 5px;
    }
    #telefono{
        grid-area: telefono;
        margin-bottom: 10px;
    }
    #fotoMail{
        grid-area: fotoMail;
        margin-bottom: 5px;
    }
    #mail{
        grid-area: mail;
        margin-bottom: 10px;
    }
    #fotoYoutube{
        grid-area: fotoYoutube;
        margin-bottom: 5px;
    }
    #youtube{
        grid-area: youtube;
        margin-bottom: 10px;
    }
    #fotoInsta{
        grid-area: fotoInsta;
        margin-bottom: 5px;
    }
    #insta{
        grid-area: insta;
        margin-bottom: 10px;
    }
}
